.detailedquestions{
    color:white;
}
.detailed-questions-wrapper {
    position: relative;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
    max-width: 400px;
    width: 80%;
    z-index: 1001;
    font-family: Arial, sans-serif;
    font-size: 18px;

}


.detailed-textarea{
    width:650px;
    height:150px;
    resize: vertical;
    margin-left: auto;
    margin-right: auto;
}


.detailed-header {
    position: relative;
    z-index: 1;
    color: transparent; 
    -webkit-text-stroke: 1.5px Black;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 70px;
    margin-top:5%;

}