.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

.text-box {
 
  padding: 20px;
  display: inline-block;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form-label{
  color:white;
}
.api-key-input{
  width:20%;
  height: 40px;
  background-color:black;
  margin: 0 auto;
  
}
.api-key {
  text-align:center;
  width:100%;
  margin-right: 100px;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  justify-content: center;
  align-items: center;
  position:relative;

}
.footer-socials {
  display: flex;
  align-items: center;
  position:absolute;
  width:100%;
  bottom:50px;
  left: 155px;
}
.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  transition: transform 0.2s ease;
}
.follow-us{
  text-align:left;
  font-size: 18px;
  position:absolute;
  bottom: 80px;
  left:200px;
  
}