.custom-button {
    background-color: rgb(148, 0, 72);
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
  }
  .custom-button:hover {
    background-color: rgb(62, 6, 84);
  }